.containerHome{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.imgContentHome{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../../../public/imgcont.jpg");
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: calc(100vh - 200px);
}
.welcomeText{
    font-size: 6rem;
    color: #999;
}
.bemVindo{
    color: #666;
}
.contentTextHome{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.buttons{
    width: 40%;
    height: 70px;
    margin: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}
.myCv{
    width: 130px;
    height: 50px;
    border: 1px solid #999;
    box-shadow: 1px 1px 1px 1px rgba(9, 9, 9, 0.5);
    border-radius: 20px;
    background-color: #fff;
    color: black;
    font-weight: 600;
}
.criar{
    font-weight: 600;
    width: 130px;
    height: 50px;
    border-radius: 20px;
    border: none;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 255, 0.457);
    background-color: blue;
    color: #fff;
}
.footer{
    width: 100%;
    height: calc(200px - 70px);
    background-color: #212D94;
}
