.headerConteiner{
    width: 100%;
    height: 50px;
    border: 1px solid whitesmoke;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: whitesmoke;
}
.item{
    font-weight: 500;
    list-style: none;
    cursor: pointer;
}
.item:hover{
    color: #666;
    transition: 0.3;
}